<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <%if (!session.user) {%>

        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <% } %>
        <%if (session.user) {%>
        <li><a href="/todo">Todo</a></li>
        <li><a href="/logout">Logout</a></li>
        <% } %>
    </ul>
</nav>
<%if (session.user) {%>
<p>User: <%- (session.user) %></p>
<% } %>
